/*

www.uniquedesign10.com
*/
body{
	margin: 0;
	background: #1F1F1F;
}

p{
	margin: 15px 0;
}

a{
	text-decoration: none;
	color: #007cb9;
}

a:hover{
	text-decoration: none;
}

.utune-pade{
	padding-left: 10px;
}

.utune-static{
	position: static!important;
}

.utune-strip{
	height: 5px;
	margin-top: 15px;
	background: url('../images/stripe.png'); 
}

.utune-row{
	padding-bottom: 20px;
}

.icon-bar{
	color: #FFF;
	border: 1px solid #fff;
}

.utune-head{
	background: #171717;
	position: relative;
	border-bottom: 5px solid #007cb9;
	-webkit-box-shadow: 0 1px 2px #3F3F3F;
	box-shadow: 0 1px 2px #3F3F3F;
	z-index: 11;
}

.utune-inner-head{
	min-height: 100px;
}

.utune-inner-head .utune-tagline{
	color: #aaa;
	margin-bottom: 10px;
}

.utune-logo{
	color: #aaa;
	font-size: 24px;
	padding: 10px 0 0 0;
}

.utune-logo img{
	max-width: 100%;
}

/*SEARCH*/
.utune-search form{
	padding: 5px 0 1px 0;
	border-bottom: 1px solid #333;
	float: left;
}

.utune-search-button,
.utune-keyword-text{
	background: transparent;
	border: 0;
	outline: none;
	color: #aaa;
	right: 1px;
	top: 1px;
	padding: 0;
}

.utune-search-button{
	width: 24px;
	height: 32px;
	color: #007cb9;
	/*border: 1px solid #333;
	border-left: 0;
	border-radius: 0 24px 24px 0;
	background: #171717 url('../images/search2.png') 2px 2px no-repeat;*/
}

.utune-keyword{
	width: 20px;
	height: 32px;
	/*border:1px solid #333;
	border-radius: 24px 0 0 24px;
	border-right: 0;
	padding-left: 20px;*/
}

.utune-keyword-text{
	height: 32px;
	background: transparent;
}
/*;SEARCH*/

/*MENU*/
.utune-head ul.parent-menu{
	float: none;
}

.utune-head ul.parent-menu>li{
	position: relative;
}

.utune-head ul.parent-menu>li>a{
	padding: 10px 15px;
	color: #aaa!important;
	background: transparent;
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
}

.utune-head ul.parent-menu>li:hover>a,
.utune-head ul.parent-menu>li.current-menu-item>a{
	background: #007cb9;
	-webkit-transition: background .2s;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-o-transition: background .2s;
	transition: background .2s;
}

.utune-head ul.parent-menu>li>a.utune-home{
	background: url('../images/home_icon.png') no-repeat 0 9px;
	text-indent: -999999px;
	/*padding: 6px 15px;*/
}

/*.utune-head ul.parent-menu>li>a.utune-home:before{
	content: "\f015";
	font: normal normal normal 26px/1 'FontAwesome';
	color: #bbb;
}*/

.utune-head ul.parent-menu>li ul.sub-menu{
	display: none;
	position: absolute;
	width: 250px;
	padding: 0;
	list-style: none;
	background: #eee;
	border-top: 5px solid #007cb9;
	box-shadow: 1px 1px 5px #888;
	z-index: 10;
}

.utune-head ul.parent-menu>li:hover ul.sub-menu{
	display: block;
}

.utune-head ul.parent-menu>li ul.sub-menu>li{
	border-bottom: 1px solid #ccc;
	position: relative;
}

.utune-head ul.parent-menu>li ul.sub-menu li.menu-item-has-children:after{
	content: "\f0da";
	font: normal normal normal 14px/1 'FontAwesome';
	position: absolute;
	top: 9px;
	right: 10px;
	color: #bbb;
}


.utune-head ul.parent-menu>li ul.sub-menu>li:last-child{
	border: 0;
}

.utune-head ul.parent-menu>li ul.sub-menu li a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
}

.utune-head ul.parent-menu>li ul.sub-menu li a:hover{
	background: #ddd;
}

.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children ul.sub-menu,
.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children ul.sub-menu>li.menu-item-has-children ul.sub-menu{
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	border-top: 0;
}

.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children:hover ul.sub-menu,
.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children:hover ul.sub-menu>li.menu-item-has-children:hover ul.sub-menu{
	display: block;
}


/*;MENU*/

/*SOCIAL MEDIA*/
.utune-social-icons{
	margin-top: 20px;
}

.utune-social-icon{
	color: #aaa;
	margin-left: 10px;
	font-size: 18px!important;
	/*line-height: 24px!important;
	text-align: center;*//*
	background: #eee;*/
}

.social-facebook:hover{
	color: #3e5b97;
}

.social-twitter:hover{
	color: #05b0e8;
}

.social-gplus:hover{
	color: #e04006;
}

.social-youtube:hover{
	color: #f00;
}
/*;SOCIAL MEDIA*/

/*BREADCRUMB*/
.utune-breadcrumb{
	background: #a8bac8;
	position: relative;
	min-height: 90px;
}

.utune-breadcrumb .utune-post-image{
	max-height: 450px;
	overflow: hidden;
}

.utune-breadcrumb .utune-post-image img{
	width: 100%;
	height: auto;
}

.utune-breadcrumb .utune-breadcrumb-inner{
	padding-bottom: 20px;
	background: rgba(0, 124, 185, 0.63);
	position: absolute;
	width: 100%;
	bottom: 0;
}

.utune-breadcrumb .utune-page-heading{
	margin: 0;
	font-size: 28px;
	font-weight: bold;
	margin: 15px 0;
	color: #eee;
}

.utune-trail,
.utune-trail a{
	color: #eee!important;
	height: 20px;
	line-height: 20px;
}

.utune-trail>span.prefix{
	padding: 0 5px;
	background: #EEE;
	margin-right: 15px;
	position: relative;
	color: #333;
	height: 20px;
	float: left;
	line-height: 20px;
}

.utune-trail>span.prefix:after{
	content: '';
	border-top: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0, 0, 0, 0);
	border-left: 10px solid #EEE;
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: -10px;
}

.utune-trail .current{
	color: #bbb;
}
/*;BREADCRUMB*/

.utune-content{
	padding-top: 30px;
	padding-bottom: 50px;
	background: #eee;
}

.utune-main-content p{
	text-align: justify;
}

/*FOOTER*/
.utune-footer{
	position: relative;
	border-top: 5px solid #007cb9;
	z-index: 11;
	color: #aaa;
	padding: 30px 0 20px 0;
	background: #171717;
}

.utune-copyright{
	border-top: 1px solid #2C2C2C;
	padding: 15px 0;
	background: #1F1F1F;
	color: #aaa;
}

.utune-copyright .utune-copyright-text{
	font-size: 12px;
}

.utune-copyright ul.secondary-menu{
	list-style: none;
	float: right;
	margin: 0;
}

.utune-copyright ul.secondary-menu li{
	float: left;
	border-right: 1px solid #333;
	line-height: 0;
}

.utune-copyright ul.secondary-menu li:last-child{
	border: 0;
}

.utune-copyright ul.secondary-menu li a{
	color: #aaa!important;
	font-size: 12px;
	padding: 0 8px;
}

.utune-backto-top{
	display: none;
	position: fixed;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
	background: #333;
	color: #aaa!important;
	padding: 2px 10px;
	padding-top: 0;
	z-index: 13;
	font-size: 24px;
	-webkit-transition: background .4s;
	-o-transition: background .4s;
	transition: background .4s;
}

.utune-backto-top:hover{
	background: #0079bc;
	-webkit-transition: background .4s;
	-o-transition: background .4s;
	transition: background .4s;
}

.utune-backto-top img{
	width: 12px;
	height: 12px;
}
/*;FOOTER*/

/*WIDGETS*/
h2.utune-widget-tittle{
	color: #007CB9;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 2px solid #007CB9;
	padding-bottom: 2px;
}

.utune-footer .utune-widget ul{
	list-style: none;
	padding: 0;
}

.utune-footer .utune-widget ul li{
	padding: 0 0 5px 0;
}

.utune-footer .utune-widget ul a{
	color: #aaa;
	font-size: 12px;
}

.utune-footer .utune-widget label,
.utune-widget label{
	display: block;
}

.utune-footer .utune-widget .tagcloud a{
	float: left;
	background: #eee;
	padding: 2px 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.utune-footer .utune-widget input[type=button],
.utune-footer .utune-widget input[type=submit],
.utune-footer .utune-widget button,
.utune-sidebar .utune-widget input[type=button],
.utune-sidebar .utune-widget input[type=submit],
.utune-sidebar .utune-widget button{
	background: #007CB9;
	border: 1px solid #007CB9;
	color: #eee;
}

.utune-footer .utune-widget input,
.utune-sidebar .utune-widget input{
	background: transparent;
	border: 1px solid #333;
}

.utune-sidebar .utune-widget{
	margin-bottom: 30px;
}

.utune-sidebar h2.utune-widget-tittle{
	margin-top: 0;
}

.utune-sidebar .utune-widget ul{
	list-style: none;
	padding: 0;
}

.utune-sidebar .utune-widget ul.sub-menu{
	padding: 5px 0 0 15px;
}

.utune-sidebar .utune-widget ul.sub-menu ul.sub-menu li.menu-item-has-children{
	padding: 0 0 0 15px;
}

.utune-sidebar .utune-widget ul li{
	padding: 0 0 5px 0;
}

.utune-footer .utune-widget ul li:before,
.utune-sidebar .utune-widget ul li:before{
	padding: 0 0 5px 0;
	content: "\f105";
	font: normal normal normal 14px/1 'FontAwesome';
	color: #333;
	padding-right: 10px;
}

.utune-footer .utune-widget ul li:before{
	color: #aaa;
}

.utune-sidebar .utune-widget label,
.utune-widget label{
	display: block;
}

.utune-sidebar .utune-widget img{
	width: 100%;
	height: auto;
}

.utune-sidebar .utune-widget select{
	width: 100%;
	background: #EEE;
	border: 1px solid #007CB9;
	outline: none;
}

.utune-sidebar .utune-widget table{
	width: 100%;
}

.utune-sidebar .utune-widget table caption{
	font-weight: bold;
	margin-bottom: 5px;
}

.utune-sidebar .utune-widget table th{
	font-weight: bold;
	text-align: center;
}

.utune-sidebar .utune-widget table td{
	text-align: center;
	padding: 5px 0;
}

.utune-sidebar .utune-widget table td#today{
	background: #007cb9;
	color: #eee;
}

.utune-sidebar .post-date{
	display: block;
	padding-left: 18px;
	font-size: 10px;
	color: #999;
}

.utune-sidebar .post-date:before{
	padding: 0 0 5px 0;
	content: "\f073";
	font: normal normal normal 12px/1 'FontAwesome';
	color: #999;
	padding-right: 10px;
}

/*;WIDGETS*/

/*BLOG*/
.utune-posts{
	padding-bottom: 50px;
}

.utune-blog-heading,
.utune-blog-heading a{
	font-size: 22px;
	font-weight: bold;
	margin-top: 0;
	color: #333!important;
	text-decoration: none;
}

.utune-blog-date{
	background: #007CB9;
	color: #eee;
	text-align: center;
	padding: 5px;
}

.utune-blog-date .month,
.utune-blog-date .year{
	font-size: 14px;
}

.utune-blog-date .date{
	font-size: 24px;
	font-weight: bold;
}

.utune-post-info{
	color: #999;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.utune-post-info ul{
	list-style: none;
	display: inline;
}

.utune-thumb{
	max-height: 150px;
	overflow: hidden;
}

.utune-thumb img{
	width: 100%;
	height: auto;
}

.utune-readmore,
.comment-respond #submit{
	background: #333;
	padding: 3px 6px;
	color: #eee!important;
	border: 0;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

.utune-readmore:hover,
.comment-respond #submit:hover{
	background: #007cb9;
	padding: 3px 6px;
	color: #eee;
	border: 0!important;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

#utune-post-content{
	margin-bottom: 40px;
}

.pagination>li>a, .pagination>li>span{
	padding: 4px 7px;
	border-radius: 0!important;
}

.pagination>li>span.current{
	color: #eee;
}

.comment-respond{
	margin-top: 30px;
}

.comment-respond #reply-title{
	font-size: 16px;
}

.comment-respond label{
	display: block;
}

.comment-respond input[type=text]{
	width: 240px;
	padding: 5px;
}

.comment-respond textarea{
	height: 150px;
	padding: 5px;
}

.comment-respond .comment-notes,
.comment-respond p.form-allowed-tags{
	display: none;
}

.comment-respond #submit,
.comment-respond #submit:hover{
	padding: 5px 10px;
}

.comment-respond input[type=text],
.comment-respond textarea,
.comment-respond #submit,
.comment-respond #submit,
.comment-respond #submit:hover{
	outline: none;
}

#utune-nested-comment,
#utune-nested-comment ul.children{
	list-style: none;
}

#utune-nested-comment{
	padding: 0;
}

#utune-nested-comment .comment-body{
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
}

#utune-nested-comment .comment-author img{
	float: left;
	margin-right: 10px;
}

/*;BLOG*/

/*BOOTSTRAP OVERRIDE*/
.btn{
	border-radius: 0;
	outline: none!important;
}

a.btn{
	color: #eee!important;
}

a.btn.btn-default{
	color: #333!important;
}

.nav-tabs{
	border-bottom: 1px solid #e7e7e7;
}

.nav-tabs>li>a{
	border: 0;
	border-bottom: 0;
	border-top: 3px solid transparent;
	border-radius: 0;
	padding: 5px 45px;
	margin: 0;
	background: #e7e7e7;
	color: #333!important;
}

.tab-content>.tab-pane{
	padding: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
	border: 0;
	border-top: 3px solid #007cb9;
	background: #e7e7e7;
	padding: 5px 45px;
	margin: 0;
}

.vtab.nav-tabs>li{
	float: none;
	width: 100%;
}

.vtab.nav-tabs>li>a{
	border: 0;
	border-bottom: 0;
	border-left: 3px solid transparent;
	border-radius: 0;
	padding: 5px 10px;
	margin: 0;
	background: #e7e7e7;
	color: #333!important;
}

.vtab.nav-tabs>li.active>a, .vtab.nav-tabs>li.active>a:hover, .vtab.nav-tabs>li.active>a:focus{
	border: 0;
	border-left: 3px solid #007cb9;
	background: #e7e7e7;
	padding: 5px 10px;
	margin: 0;
}

/*;BOOTSTRAP OVERRIDE*/

@media screen and (max-width: 768px){
	.utune-inner-head {
		min-height: 70px;
	}

	.utune-head-widget,
	.utune-head ul.parent-menu>li ul.sub-menu li.menu-item-has-children:after{
		display: none;
	}

	.utune-logo{
		text-align: center;
		padding-bottom: 0;
	}

	.utune-head ul.parent-menu>li>ul.sub-menu,
	.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children ul.sub-menu,
	.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children ul.sub-menu>li.menu-item-has-children ul.sub-menu{
		position: static;
		display: block;
		list-style: none;
		background: transparent;
		border: 0;
		width: 100%;
		box-shadow: none;
	}

	.utune-head ul.parent-menu>li>ul.sub-menu li{
		border-bottom: 0;
		padding: 0;
	}

	.utune-head ul.parent-menu>li>ul.sub-menu li:last-child{
		border: 0;
	}

	.utune-head ul.parent-menu>li>ul.sub-menu li a{
		display: block;
		color: #aaa;
		width: 100%;
		padding: 10px 15px 10px 30px;
	}

	.utune-head ul.parent-menu>li>ul.sub-menu>li>a:hover,
	.utune-head ul.parent-menu>li ul.sub-menu>li:hover>a,
	.utune-head ul.parent-menu>li ul.sub-menu>li ul.sub-menu>li:hover>a{
		display: block;
		color: #aaa;
		width: 100%;
		background: #007cb9;
	}

	.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children ul.sub-menu li a{
		padding: 10px 15px 10px 60px;
	}

	.utune-head ul.parent-menu>li ul.sub-menu>li.menu-item-has-children ul.sub-menu li ul.sub-menu li a{
		padding: 10px 15px 10px 90px;
	}

	/*.utune-breadcrumb .utune-post-image img{
		height: 100%;
		width: auto;
	}*/

	.utune-sidebar,
	.utune-search{
		display: none;
	}

	.utune-main-content{
		width: 100%;
	}
}

@media screen and (max-width: 480px){
	.utune-breadcrumb .utune-breadcrumb-inner{
		position: static;
	}

	.utune-search,
	.utune-footer-link,
	.utune-blog-date,
	.utune-footer-widgets{
		display: none;
	}

	.utune-post-inner{
		width: 100%;
	}

	.nav-tabs>li{
		float: none;
	}

	.nav-tabs>li>a{
		padding: 5px 10px;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
		background: #333;
		color: #eee!important;
		padding: 5px 10px;
	}
}